.bar-status {
  max-height: 0;
  overflow: hidden;
  transition: all 350ms ease-in-out;
  &.active {
    max-height: 100px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      position: relative;
      height: 55px;
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      transition: all 350ms ease-in-out;
      p {
        font-size: 0.65em;
        font-weight: 300;
        text-align: center;
        padding: 5px;
        color: #e3e3e3;
        margin: 0;
      }
      &.check {
        color: #6c6c6c;
        &:after {
          max-width: 100%;
        }
      }
      &:before {
        content: "";
        width: 100%;
        height: 12px;
        background-color: #e3e3e3;
        position: absolute;
        bottom: 0;
      }
      &:after {
        content: "";
        width: 100%;
        max-width: 0;
        height: 12px;
        background-color: #0f0d6d;
        position: absolute;
        bottom: 0;
        transition: all 350ms ease-in-out;
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .bar-status {
    height: 12px;
    width: 100%;
    ul {
      li {
        width: 14%;
        height: 10px;
        p {
          display: none;
        }
      }
    }
  }
}
