label {
  &.error {
    display: none !important;
  }
}
input {
  border: none;
  border-bottom: 1px solid #c6c6c6;
  width: 100%;
  padding: 15px 25px;
  color: #9f9f9f;
  transition: all 350ms ease-in-out;
  &.error {
    border-bottom: 1px solid red;
  }
  &.valid {
    color: #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
  }
  &::-webkit-input-placeholder {
    /* Edge */
    color: #9f9f9f;
    font-family: "Montserrat", sans-serif;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9f9f9f;
    font-family: "Montserrat", sans-serif;
  }

  &::placeholder {
    color: #9f9f9f;
    font-family: "Montserrat", sans-serif;
  }
}

select {
  &.demo-default {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    height: 55px;
    border: none;
    border-bottom: none;
    width: 100%;
    padding: 15px 25px;
    color: #9f9f9f;
    transition: all 0.35s ease-in-out;
    box-shadow: none;
    background: #f8f8f8 !important;
    border-radius: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    &.error {
      border-bottom: 1px solid red;
    }
  }
  &.chosen-select {
    display: block !important;
    max-height: 0;
    border: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    &.error {
      height: 1px;
      min-height: 1px;
      background: red;
      z-index: 10;
    }
  }
}

.form {
  &.outra {
    overflow: hidden;
    max-height: 0;
    transition: all 350ms ease-in-out;
    &.active {
      max-height: 100px;
    }
  }
}

@media screen and (max-width: 991px) {
  input {
    font-size: 1em;
    padding: 15px 10px;
  }
  select {
    &.demo-default {
      &.error {
        border-bottom: 1px solid red;
        height: 55px;
        min-height: auto;
        max-height: initial;
      }
    }
  }
}
