#especialidade {
  display: block !important;
  max-height: 1px;
  width: 100%;
  border: none;
  position: absolute;
  bottom: 0;
  padding: 0;
  &.error {
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    background: red;
    z-index: 10;
  }
}

.demo-default {
  border: none;
  border-bottom: 1px solid #c6c6c6;
  width: 100%;
  box-shadow: none;
  background: no-repeat;
  input {
    color: #9f9f9f !important;
    font-size: 1em !important;
    font-family: "Montserrat", sans-serif !important;
    height: 1.5rem;
  }
  .selectize-dropdown {
    border: 1px solid #eee;
  }
  .selectize-input {
    padding: 0;
    height: 100%;
    display: flex;
    border: none;
    box-shadow: none;
    padding: 15px 25px !important;
    flex-wrap: wrap;
    font-size: 1em;
  }
  .selectize-dropdown-content {
    .option,
    .create {
      color: #9f9f9f !important;
      font-size: 16px !important;
      font-family: Montserrat, sans-serif !important;
      padding: 15px 25px;
      transition: all 350ms ease-in-out;
      background: #fff !important;
      &:hover {
        background: #f8f8f8 !important;
      }
    }
  }
}

.no-margin {
  margin: 0 !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

@media screen and (max-width: 991px) {
  #especialidade {
    // display: none !important;
    max-height: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    position: relative;
    option {
      padding: 15px;
    }
    &.error {
      border-bottom: 1px solid red;
      height: 55px;
      min-height: auto;
      max-height: initial;
    }
  }
  .selectize-control {
    .selectize-input {
      font-size: 1em;
      padding: 15px 10px !important;
    }
  }
}
